*{
    margin: 0px;
    padding: 0px;
    /* background-color: rgb(40, 40, 40); */
    background: var(--background);
    color: var(--color);
    font-family: Verdana;
}

.container{
    /* background-color: rgb(40, 40, 40); */
    background: var(--background);
    margin-left: 0px;
    margin-right: 0px;
}

#page-content {
    margin: auto;
    width: 50%;
    height: 100vh;
    /* background-color: aquamarine; */
}

/* Nav */
.nav {
    float: left;
}

.nav .nav-link{
    background: var(--background);
    color: var(--color);
    overflow: hidden;
    display: inline-flex;
    padding-top: 10px;
    width: 55px;
    height: 50px;
    transition: color 0.3s, width 1s, background-color 1s;
}
.nav .nav-link:hover{
    color: var(--color-hover);
    background-color: var(--background-color-hover);
    width:150px;
    cursor:pointer;
}
.nav .nav-link i {
    margin-right: 20px;
    /* padding-top: 5px; */
    font-size: 22px;
    background: transparent;
}
.nav .nav-link .fa-clipboard-list {
    padding-left: 4px;
    padding-top: 10px;
}
.nav .nav-link .fa-circle-user {
    padding-left: 2px;
    padding-top: 10px;
}
.nav .nav-link .fa-envelope {
    padding-left: 2px;
    padding-top: 10px;
}
.nav .active{
    font-weight: bold;
    border-bottom: 2px solid rgb(82, 82, 82);

}
.nav .disabled{
    color:rgb(82, 82, 82);
    text-decoration: underline;
}

#mode{
    position: absolute;
    top: 10px;
    right:20px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    transition: width 0.5s;
}
/* .material-icons { color: rgb(255, 0, 0); } */

#mode p{
    position: relative;
    bottom: 30px;
    left: 35px;
    min-width: 30px;
    height: 25px;
}
#mode img{
    width: 30px;
    filter: var(--filter);
    background: transparent;
    
}
#mode:hover{
    width: 100px;
}

#title{
    position: absolute;
    top:25vh;
    left: 18vw;
}
#title h1{
    font-weight: 600;
    font-size: 64px;
}
#title #titleYear{
    font-size: 16px;
    margin-left: 10px;
}
#title p{
    margin-left: 10vw;
}

.dark-mode{
    --background: rgb(40, 40, 40);
    --background-color-hover: rgb(82, 82, 82);
    --color: rgb(220, 220, 220);
    --color-hover: rgb(120, 120, 120);
    --filter: invert(0.85);
}
.light-mode{
    --background: rgb(220, 220, 220);
    --background-color-hover: rgb(194, 194, 194);
    --color: rgb(40, 40, 40);
    --color-hover: rgb(98, 98, 98);
    --filter: invert(0);
}